Repository Himenon/recursive-add-prefix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

feat: update document and add test
  .github/workflows/auto-review.yml
  README.md
  package.json
  src/__tests__/index.test.ts
Due: prettier --write, eslint --fix, sort-package-json

feat: add publish workflow
  .github/workflows/npmpublish.yml
Due: prettier --write

refactor: format
  src/index.ts
Due: prettier --write, eslint --fix

feat: add lerna
  lerna.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: rename
  .github/workflows/test-and-build.yml
  package.json
Due: prettier --write, sort-package-json

Create update-version.yml
  .github/workflows/update-version.yml
Due: prettier --write

fix: syntax
  .github/workflows/update-version.yml
Due: prettier --write

fix: version up command
  .github/workflows/update-version.yml
  package.json
Due: prettier --write, sort-package-json

fix: command
  .github/workflows/update-version.yml
Due: prettier --write

fix: delete auto version up
  .github/workflows/update-version.yml
Due: prettier --write

chore: update npm-scripts
  package.json
Due: prettier --write, sort-package-json

chore: add conventional-changelog-angular-all
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: ./node_modules/.bin/husky-upgrade
  .huskyrc
  commitlint.config.js
  package.json
Due: prettier --write, sort-package-json

chore(release): release
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

fix: workflows
  .github/workflows/npmpublish.yml
Due: prettier --write

fix: publish workflow
  .github/workflows/npmpublish.yml
Due: prettier --write

ci: update workflow
  .github/workflows/pull-request-workflow.yml
  .github/workflows/push-master-workflow.yml
  .github/workflows/release-workflow.yml
Due: prettier --write

ci: update workflow2
  .github/workflows/push-master-workflow.yml
Due: prettier --write

ci: update workflow3
  .github/workflows/push-master-workflow.yml
Due: prettier --write

ci: update workflow4
  .github/workflows/push-master-workflow.yml
Due: prettier --write

ci: update workflow5
  .github/workflows/push-master-workflow.yml
Due: prettier --write

ci: update workflow6
  .github/workflows/release-workflow.yml
Due: prettier --write

ci: update workflow7
  .github/workflows/pull-request-workflow.yml
  .github/workflows/release-workflow.yml
Due: prettier --write

ci: update workflow8
  .github/workflows/release-workflow.yml
Due: prettier --write

ci: update release flow
  .github/workflows/release-workflow.yml
Due: prettier --write

feat: add scope
  package.json
Due: prettier --write, sort-package-json

chore: update workflow
  .github/workflows/release-workflow.yml
Due: prettier --write

feat: change package name
  .github/workflows/release-workflow.yml
  package.json
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,yml,yaml,html,md}
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
